<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ghkindel.android.condition_56">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/pict"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:theme="@style/Theme.ClickSpeedGame">
        <activity
            android:name="com.ghkindel.android.condition_56.SplashScreen"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.ghkindel.android.condition_56.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.ghkindel.android.condition_56.ResultActivity"
            android:screenOrientation="portrait">
        </activity>
<!--        <activity android:name=".PauseActivity">-->
<!--            -->
<!--        </activity>-->
    </application>

</manifest>